.page {
  background: #4527a0;
  height: 100vh;
  overflow-y: auto;
  a, p {
    text-decoration: none;
  }
  .anon-header{
    color: white;
  }
  textarea{
    resize: none;
  }
  button{
    display: block;
    margin: 1rem auto;
    background-color: #4527a0;
    color: white;
    padding: .5rem 1.8rem;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
  }
  h2 {
    text-align: center;
    text-decoration: none;
  }

  form {
    background: white;
    box-shadow: 3px 10px 6px rgba(255, 255, 255, .1);
    padding: .5rem 1rem 1rem;
    border-radius: .25rem;
    margin: 10vh auto;
    max-width: 25rem;

    .heading {
      font-weight: 400;
      margin: .25rem 0 .5rem;
    }

    .input-field {
      display: flex;
      flex-direction: column;
      margin-bottom: .5rem;
      margin-right: .5rem;

      label {
        font-size: .8rem;
        color: rgba(0, 0, 0, 0.7);
        text-transform: capitalize;
        margin-bottom: .25rem;
      }

      input, textarea {
        padding: .5rem .35rem;
        width: 100%;
        outline: none;
      }
    }
  }
}
